page-customers-detail{
    .f-12 {
      font-size: 12px;
    }

    .orders {
      border-bottom: 2px solid gainsboro;
    }

    .profile-img{
	    width: 12rem;
	    height: 12rem;
    }

    .listing ion-row{
      color: #8e9093;
      font-size: 1.25rem;
  }


}
